{% if page.url == "/" %}
<div class="cover">
    <div class="cover-image">
        Cover Image
    </div>
</div>
{% endif %}
<header >

    <div class="banner">
        <div class="center">
            <div>
                <a class="home-link" href="/">
                    <span class="banner-name">@iFiona</span>
                </a>

                <span class="social-links">
                    <a class="icon-facebook" href="https://facebook.com/yuezhizizhang" title="Connect with me on Facebook" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                    .
                    <a class="icon-github" href="https://github.com/yuezhizizhang" title="Fork me on github" target="_blank">
                        <i class="fa fa-github"></i>
                    </a>
                    .
                    <a class="icon-linkedin" href="https://www.linkedin.com/in/huzhang/" title="Link me on linkedin" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    .
                    <a class="icon-gmail" href="mailto:yuezhizizhang@gmail.com" title="Email Me" target="_blank">
                        <i class="fa fa-envelope"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>

    <header class="blog-header">
        <a class="blog-logo" href="/"></a>
    </header>

</header>
