@charset "utf-8";

.cover {
    height:400px;
    position: relative;
    overflow: hidden;
    background-color: #000;

    > .cover-image {
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        text-indent: -9999px;
        opacity: 0.8571;
        background-image: url('/assets/cover.jpg');
    }
}

.banner {
    height: 50px;
    position: relative;
    overflow: hidden;
    background-color: #8B0000;

    > .center {
        width: 100%;
        height: 100%;
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 40px;
    }

    .home-link:hover {
        text-decoration: none;
    }

    .banner-name {
        font-family: 'Cabin Sketch', cursive;
        font-weight: normal;
        font-size: 28px;
        line-height: 50px;
        color: white;
    }

    .social-links {
        color: white;
        float: right;
        font-size: 24px;
        line-height: 50px;

        > a {
            text-decoration: none;
            color: white;
        }
    }
}

.blog-header {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    box-sizing: border-box;
}

.blog-logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    right: 50%;
    margin-right: -60px;
    background-size: cover;
    border-radius: 50%;
    z-index: 99;
    text-indent: -9999px;
    border: 3px solid white;
    background-color: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    background: url('/assets/me.jpg') no-repeat;
    background-size: 100px 100px;
}